//Variables
$primary-color: #143341;
$secondary-color: #76A79C;

h1, h2, h3, h4, li {
  font-family: 'Philosopher', sans-serif;
}

a {
  text-decoration: none;
}

.App {
  padding: 10px;
  border: 2px solid $secondary-color;
  &-body {
    padding: 1.5em 0;
  }
  &-section {
    overflow: auto;
    border: 1px solid #76A79C;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    margin: 5% 10%;
    p {
      font-family: 'Alegreya Sans', sans-serif;
      text-align: justify;
      text-align-last: left;
    }
  }
  &-nav--wrapper {
    position: fixed;
    list-style-type: none;
    padding: 0;
    width: 50%;
    margin-top: .5em;
    margin-left: 25%;
    margin-right: 25%;
    li {
      display: inline-block;
      background: white;
      text-align: center;
      box-sizing: border-box;
      width: 23%;
      padding: .5em;
      border: 1px solid $primary-color;
      border-radius: 5px;
      cursor: pointer;
      margin: 1%;
    }
  }
  &-header--links {
    float: right;
    width: 50px;
    img {
      width: 50px;
    }
  }
  &-footer {
    font-family: 'Alegreya Sans', sans-serif;
    text-align: center;
    font-size: .9em;
  }
}

.Home {
  &-portrait--wrapper {
    float: left;
    width: 48%;
    img {
      width: 100%;
      float: left;
      display: inline;
    }  
  }

  &-intro--wrapper {
    text-align: left;
    float: right;
    width: 48%;
  }
}

.Project {
  &-card {
    img {
      width: 100%;
    }
    &--column1 {
      float: left;
      width: 40%;
      padding-right: 1%;
    }
    &:after {
      content: "";
      width: 100%;
      display: inline-block;
    }
  }
}

.Resume {
  &-skills--item {
    ul {
      list-style-type: none;
      padding: 0;
    }
    li {
      display: inline;
      img {
        width: 100px;
      }
    }
    

  }
}

// Responsive styles


// Accessible styles


