h1, h2, h3, h4 {
  font-family: "Philosopher", sans-serif;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 699px) {
  .App .hide {
    display: none;
  }
  .App .show {
    display: block;
  }
}
.App-header--wrapper {
  width: 100%;
  position: fixed;
  z-index: 1;
}
.App-header--wrapper img {
  width: 60px;
  float: left;
}
.App-body {
  padding: 60px 0;
}
.App-section {
  overflow: auto;
  border: 1px solid #76A79C;
  border-radius: 10px;
  padding: 10px;
  width: 83.3333333333%;
  margin: 1% auto 5% auto;
}
.App-section p {
  font-family: "Alegreya Sans", sans-serif;
  text-align: justify;
  text-align-last: left;
}
.App-nav {
  padding: 0;
  margin: 0;
  background-color: #dcf3f3;
}
.App-nav:after {
  content: "";
  width: 100%;
  clear: both;
  display: block;
}
.App-nav--hamburger {
  float: left;
  padding: 10px;
  /* Rotate first bar */
  /* Fade out the second bar */
  /* Rotate last bar */
}
.App-nav--hamburger .bar1, .App-nav--hamburger .bar2, .App-nav--hamburger .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}
.App-nav--hamburger .change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.App-nav--hamburger .change .bar2 {
  opacity: 0;
}
.App-nav--hamburger .change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
.App-nav--wrapper {
  list-style-type: none;
  margin: 0;
}
@media screen and (min-width: 700px) {
  .App-nav--wrapper {
    width: 66.6666666667%;
    padding: 0;
    display: inline-block;
  }
}
.App-nav--wrapper li {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  cursor: pointer;
}
@media screen and (min-width: 700px) {
  .App-nav--wrapper li {
    display: inline-block;
    text-align: center;
    line-height: 20px;
    box-sizing: border-box;
    width: 16.6666666667%;
    border-radius: 5px;
    margin: 20px 1% 0 1%;
  }
}
.App-header--links {
  float: right;
  padding: 5px;
}
.App-header--links img {
  width: 50px;
}
.App-footer {
  font-family: "Alegreya Sans", sans-serif;
  text-align: center;
  font-size: 0.9em;
}

@media screen and (min-width: 608px) {
  .Home-portrait--wrapper {
    float: left;
    width: 48%;
  }
}
.Home-portrait--wrapper img {
  width: 100%;
  max-width: 400px;
  display: inline;
}
.Home-intro--wrapper {
  text-align: left;
  width: 48%;
}
@media screen and (min-width: 607px) {
  .Home-intro--wrapper {
    float: right;
  }
}
@media screen and (max-width: 607px) {
  .Home-intro--wrapper {
    text-align: center;
    width: 70%;
    margin: 0 15%;
  }
}

.Project-card img {
  width: 100%;
}
.Project-card--column1 {
  float: left;
  width: 40%;
  padding-right: 1%;
}
.Project-card:after {
  content: "";
  width: 100%;
  display: inline-block;
}

.Resume-skills--item ul {
  list-style-type: none;
  padding: 0;
}
.Resume-skills--item li {
  display: inline;
}
.Resume-skills--item li img {
  width: 100px;
}

/*# sourceMappingURL=App.css.map */
