//Variables
$deep-blue: #04587e;
$light-blue: #00dff552;
$deep-red: #bd4101;
$light-orange: #ffd9af;
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Quattrocento:wght@700&display=swap');

$column-1: percentage(calc(1 / 12));
$column-2: 2 * $column-1;
$column-3: 3 * $column-1;
$column-4: 4 * $column-1;
$column-5: 5 * $column-1;
$column-6: 6 * $column-1;
$column-7: 7 * $column-1;
$column-8: 8 * $column-1;
$column-9: 9 * $column-1;
$column-10: 10 * $column-1;
$column-11: 11 * $column-1;
$column-12: 12 * $column-1;
$logo-height: 60px;
// $logo-height: $column-1;
$logo-height-third: calc($logo-height/3);

$font-size-copy: 13px;
$font-size-bigger: 24px;

$portrait-height: 470px;

$break-xsmal: 500px;
$break-small: 749px;
$break-menu: 615px;

// Headers
h1,
h2,
h3,
h4 {
  font-family: 'Quattrocento', serif;
}

h1 {
  color: $deep-red;
}

h2 {
  color: $deep-blue;
}

a {
  text-decoration: none;
}
.background:before {
  background-image: url('/images/coral-simple.svg');
  background-repeat: no-repeat;
  content: ' ';
  position: absolute;
  transform: rotate(-65deg);
  height: 100%;
  width: 200vw;

  z-index: -1;
}

.orange:before {
  filter: invert(68%) sepia(32%) saturate(7058%) hue-rotate(1deg)
    brightness(98%) contrast(97%) opacity(30%);
  left: -40vw;
  top: 40vh;
}

.blue:before {
  filter: invert(72%) sepia(79%) saturate(1822%) hue-rotate(133deg)
    brightness(96%) contrast(97%);
  left: -35vw;
  top: 42vh;
}

// Classes applied under menu breakpoint to show and hide mobile menu
@media screen and (max-width: ($break-menu - 1)) {
  .hide {
    display: none;
  }
  .show {
    display: block;
  }
}

// Basic styles
// --todo:; replace with universal styles
.App {
  // Top Bar
  &-logo {
    @media screen and (min-width: $break-menu) {
      position: fixed;
      float: left;
    }
  }
  &-header--wrapper {
    width: 100%;
    position: fixed;
    z-index: 1;
    img {
      width: $logo-height;
      float: left;
    }
  }

  // Main body
  &-body {
    font-family: 'Comfortaa', cursive;
    padding: 8px;
  }
  &-section {
    padding: 10px;
    width: $column-11;
    // margin: 1% auto 5% auto;
    min-width: 315px;
    p {
      text-align: justify;
      text-align-last: left;
    }
    // Create visual break between sections, not including the first one directly beneath the header
    &:not(:first-child):after {
      content: '';
      border-bottom: 1px black solid;
      width: 60%;
      padding-top: 10%;
      margin: 0 20%;
      clear: both;
      display: block;
    }
    &--header {
      text-align: center;
    }
  }

  // Navigation section
  &-nav {
    padding-bottom: 1.2em;
    margin: 0;
    background-color: rgba(0, 223, 245, 0.5);
    // opacity: 0.5;
    @media screen and (max-width: ($break-menu - 1)) {
      padding-bottom: 0px;
    }
    &:after {
      content: '';
      width: 100%;
      clear: both;
      display: block;
    }
    &--hamburger {
      @media screen and (min-width: $break-menu) {
        display: none;
      }
      float: left;
      padding: 10px;
      .bar1,
      .bar2,
      .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
      }
      // Rotate first bar
      .change.bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
      }

      // Fade out the second bar
      .change.bar2 {
        opacity: 0;
      }

      // Rotate last bar
      .change.bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
      }
    }
  }
  // Navigation content
  &-nav--wrapper {
    list-style-type: none;
    margin: 0 $logo-height;
    @media screen and (min-width: $break-menu) {
      width: $column-12;
      // margin: 0 0 0 0;
      padding: 0;
      display: inline-block;
    }
    li {
      font-family: 'Josefin Sans', sans-serif;
      font-weight: bold;
      cursor: pointer;
      color: #0f2f2f;
      @media screen and (min-width: $break-menu) {
        display: inline-block;
        text-align: center;
        line-height: $logo-height-third;
        box-sizing: border-box;
        width: $column-2;
        border-radius: 5px;
        margin: $logo-height-third 1% 0 1%;
      }
      @media screen and (max-width: ($break-menu - 1)) {
        width: 100%;
        float: left;
        font-size: $font-size-bigger;
      }
    }
  }

  // Header and Footer
  &-header--links {
    float: right;
    padding: 5px;
    img {
      width: 50px;
    }
    position: fixed;
    right: 0;
    top: 0;
  }
  &-footer {
    font-family: 'Alegreya Sans', sans-serif;
    text-align: center;
    font-size: 0.9em;
  }
}

// // Scrolling ocean background, fixed background image targeting the first element
// .element:first-of-type {
//   padding-top: 5%;
//   content: '';
//   // background-image: url('../images/ocean-background.png');
//   width: 100%;
//   height: 100%;
//   z-index: -1;
//   background-attachment: fixed;
// }

// Home, the main section
.Home {
  &-portrait--wrapper {
    @media screen and (min-width: ($break-small + 1)) {
      float: left;
      width: 48%;
    }
    img {
      width: 100%;
      max-width: 400px;
      display: inline;
    }
  }

  &-intro--wrapper {
    text-align: center;
    // width: 48%;
    width: 100%;
    @media screen and (max-width: $break-small) {
      width: 70%;
      margin: 15%;
    }
  }

  &-intro.copy-text {
    background: rgba(255, 255, 255, 0.5);
    margin: 10% 15% 0 15%;
    padding: 1em;
    border-radius: 10px;
    @media screen and (max-width: $break-small) {
      margin: 0;
      width: 100%;
    }
  }
}

// Styles for the project sections
.Project {
  &-card {
    font-size: 18px;
    img {
      width: 100%;
    }
    &--column1 {
      float: left;
      width: 40%;
      padding-right: 1%;
    }
    &:after {
      content: '';
      width: 100%;
      display: inline-block;
    }
  }
}

.Gallery-wrapper {
  @media screen and (min-width: $break-small) {
    display: flex;
    justify-content: space-around;
  }

  .Card-wrapper {
    background-color: $light-orange;
    padding: 12px;
    border-radius: 8px;
    position: relative;
    width: 200px;
    // height: 200px;
    img {
      width: 200px;
      border-radius: 8px;
    }
    .Card-caption {
      display: none;
    }
    .Card-overlay {
      display: none;
    }
    @media screen and (min-width: $break-small) {
      &:hover {
        img {
          position: absolute;
        }
        .Card-overlay {
          display: inline-block;
          position: relative;
          z-index: 100;
          width: 224px;
          height: 224px;
          margin: -12px;
          color: white;
          background-color: rgba(0, 0, 0, 0.5);
          border-radius: 8px;
          cursor: pointer;
          span {
            position: absolute;
            bottom: 16px;
            left: 16px;
            font-weight: bold;
          }
        }
      }
    }
    @media screen and (max-width: $break-small) {
      .Card-caption {
        display: block;
      }
      width: 100%;
      margin: 16px 0;
      background-color: white;
      border: 2px solid $light-orange;
    }
    &.modal {
      padding: 24px;
      position: absolute;
      width: 80%;
      left: 0;
      margin: 0 10%;
      display: flex;
      z-index: 1000;
      background-color: white;
      border: 2px solid $light-orange;
      img {
        position: relative;
      }
      .Card-overlay {
        display: none;
      }
      .Card-caption {
        display: block;
        padding: 16px;
      }
    }
  }
}

// Styles for resume section
.Resume {
  &-skills--item {
    ul {
      list-style-type: none;
      padding: 0;
    }
    li {
      display: inline;
      img {
        width: 100px;
      }
    }
  }
}

// Accessible styles go here
