//Variables
$primary-color: #143341;
$secondary-color: #76A79C;

$logo-height: 60px;
$logo-height-third: $logo-height / 3;

h1, h2, h3, h4 {
  font-family: 'Philosopher', sans-serif;
}

a {
  text-decoration: none;
}

.App {
  &-header--wrapper {
    width: 100%;
    position: fixed;
    img {
      width: $logo-height;
      float: left;
    }
  }
  &-body {
    padding: 1.5em 0;
  }
  &-section {
    overflow: auto;
    border: 1px solid #76A79C;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    margin: 5% 10%;
    p {
      font-family: 'Alegreya Sans', sans-serif;
      text-align: justify;
      text-align-last: left;
    }
  }
  &-nav {
    padding: 0;
    margin: 0;
    background-color: #dcf3f3;
    &:after {
      content: "";
      width: 100%;
      clear: both;
      display: block;
    }
  }
  &-nav--wrapper {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 50%;
    margin-left: 15%;
    display: inline-block;
    li {
      font-family: 'Philosopher', sans-serif;
      display: inline-block;
      text-align: center;
      line-height: $logo-height-third;
      box-sizing: border-box;
      width: 23%;
      border-radius: 5px;
      cursor: pointer;
      margin: $logo-height-third 1% 0 1%;
    }
  }
  &-header--links {
    float: right;
    padding: 5px;
    img {
      width: 50px;
    }
  }
  &-footer {
    font-family: 'Alegreya Sans', sans-serif;
    text-align: center;
    font-size: .9em;
  }
}

.Home {
  &-portrait--wrapper {
    float: left;
    width: 48%;
    img {
      width: 100%;
      float: left;
      display: inline;
    }  
  }

  &-intro--wrapper {
    text-align: left;
    float: right;
    width: 48%;
  }
}

.Project {
  &-card {
    img {
      width: 100%;
    }
    &--column1 {
      float: left;
      width: 40%;
      padding-right: 1%;
    }
    &:after {
      content: "";
      width: 100%;
      display: inline-block;
    }
  }
}

.Resume {
  &-skills--item {
    ul {
      list-style-type: none;
      padding: 0;
    }
    li {
      display: inline;
      img {
        width: 100px;
      }
    }
    

  }
}

// Responsive styles


// Accessible styles


