.Hero {
  padding-top: 15%;
  min-height: 350px;
  display: flex;
  flex-direction: column-reverse;
  &-top {
    display: flex;
    justify-content: space-between;
    img {
      width: 50px;
    }
  }
  h1 {
    float: left;
    font-size: 3em;
  }
}
