.Hero {
  margin: 12px;
  padding-top: 15%;
  display: flex;
  flex-direction: column-reverse;
  &-top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    img {
      width: 50px;
    }
  }
  h1 {
    float: left;
    font-size: 3em;
  }
}
