/*.App {
  padding: 10px;
}

.App-section {
  border: 1px solid black;
  width: 80%;
  margin: 5% 10%;
  position: fixed;
  -webkit-transition: top .5s;
  transition: top .5s;
}

img {
  width: 100px;
}

*/